<form action="/cart" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Añadir a Cesta</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>