<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Ah Ocurrido un Error!</h1>
    <p>Estamos Trabajando para Arreglar el Error, perdone los Inconvenientes!!!</p>

<%- include('includes/end.ejs') %>